<h3>Estadísticas</h3>
<br/>

<table align="center" style="margin:0px auto">

	<tr>
		<td>El número de preguntas</td>
		<td><%=stats.totalQuiestion%></td>
	</tr>
	<tr>
		<td>El número de comentarios totales</td>
		<td><%=stats.totalComments%></td>
	</tr>
	<tr>
		<td>El número medio de comentarios por pregunta</td>
		<td><%=stats.mediaComentarios%></td>
	</tr>
	<tr>
		<td>El número de preguntas sin comentarios</td>
		<td><%=stats.sinComentarios%></td>
	</tr>
	<tr>
		<td>El número de preguntas con comentarios</td>
		<td><%=stats.conComentarios%></td>
	</tr>


</table>
